
body {
  box-sizing: border-box;
  padding-top: 10rem;
}

.container-fluid{
  padding-right: 6rem;
  padding-left: 6rem;
}

.navbar-brand {
  font-size: 3rem;
  margin-left: 5rem;
  margin-right: 5rem;
}

.navbar-nav {
  font-size: 1.5rem;
}

footer {
  margin-top: 8rem;
}

list-group p {
  margin-bottom: 5rem;
}

/* 파란색 구분선 */
.divhr {
  padding-top: 0.5rem;
  margin-bottom: 2rem;
}

.list-group-item {
  font-size: 1.2rem;
  margin-top: 1.3rem;
}

#icon {
  margin-right: 1rem;
}

.list-group-item:hover {
  transform: scale(1.2);
  transition-duration: 0.3s;
}

#sidebar {
  margin-top: 18rem;
  position: fixed;
  z-index: 999;
  transform: translateY(-50%); 
}

.dot {
  text-decoration: none;
  color : black;
}

section h4 {
  margin-top: 3rem;
  margin-bottom: 1rem;
  font-size: 1.7rem;
  font-weight: bold;
}

section p {
  font-size: 1.3rem;
}


#company,
#center,
#teacher,
#map {
  padding-top: 7rem;
  padding-left: 5rem;
  padding-right: 8rem;
}

/* ******** 센터소개 ******* */

.items {
  margin-top: 2rem;
  padding: 4rem;
  height: 40rem;
  overflow-y: auto; /* 아이템이 늘어날때 스크롤바 생성 */
  background-color: #f1f0f1;
  border-radius: 20px;
  list-style: none;
}

.item_name {
  font-size : 1.8rem;
  font-weight: bold;
  text-decoration: none;
}

.index_ad,
.index_t,
.index_time,
.index_parking {
  font-size: 1.3rem;
  font-weight: bold;
  text-decoration: underline; 
}

.item_con,
.item_address,
.item_tell,
.item_parking {
  padding-top: 0.5rem;
  padding-bottom: 1rem;
}

.item_hour_week {
  padding-top: 0.5rem;
  margin-bottom: 0;
}

.item_hour_weekend {
  margin-top: 0;
  padding-bottom: 1rem;
}

/* *************************** */


.card {
  margin: 1rem;
}

.card-title {
  font-size: 1.6rem;
  font-style: italic;
  font-weight: bold;
}

.card-text {
  font-size: 1.1rem;
  margin-bottom: 0;
}

#icon2 {
  margin-top: 2rem;
  margin-right: 1rem;
  font-size: 2rem;
}

.map_ul h5 {
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.map_ul li {
  list-style: none;
  margin-top: 0.3rem;
}

